<p id="notice"><%= notice %></p>

<h1>投稿一覧</h1>

<% @posts.in_groups_of(4) do |group| %>
  <div class="row">
    <% group.compact.each do |post| %>
      <h4><%= link_to post.user, post %></h4>
      <%= post.description %>
      <div class="col-md-3">
        <%= image_tag post.picture1_url, width: '15%' if post.picture1.present? %>
        <%= image_tag post.picture2_url, width: '15%' if post.picture2.present? %>
        <%= image_tag post.picture3_url, width: '15%' if post.picture3.present? %>
        <%= image_tag post.picture4_url, width: '15%' if post.picture4.present? %>
      </div>
    <% end %>
  </div>
<% end %>

<br>

<%= link_to 'New Post', new_post_path %>
