<p id="notice"><%= notice %></p>

<p>
  <h3>
  <strong>User:</strong>
  <%= @post.user %>
</h3>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Picture1:</strong>
  <%= image_tag(@post.picture1_url, width: 200) if @post.picture1.present? %>
</p>

<p>
  <strong>Picture2:</strong>
  <%= image_tag(@post.picture2_url, width: 200) if @post.picture2.present? %>
</p>

<p>
  <strong>Picture3:</strong>
  <%= image_tag(@post.picture3_url, width: 200) if @post.picture3.present? %>
</p>

<p>
  <strong>Picture4:</strong>
  <%= image_tag(@post.picture4_url, width: 200) if @post.picture4.present? %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Destroy', @post, data: { confirm: 'Are you sure?' }, method: :delete %> |
<%= link_to 'Back', posts_path %>

<h3>コメント一覧</h3>
    <% @comments.each do |comment| %>
      <div>
        <strong><%= comment.comment_name %></strong>
        <br />
        <p><%= comment.body %></p>
        <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: '削除してもよろしいですか？' } %></p>
      </div>
    <% end %>

<h3>コメントする</h3>
<%= render 'comments/form' %>
