<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Picture1:</strong>
  <%= image_tag(@post.picture1_url, width: 200) if @post.picture1.present? %>
</p>

<p>
  <strong>Picture2:</strong>
  <%= image_tag(@post.picture2_url, width: 200) if @post.picture2.present? %>
</p>

<p>
  <strong>Picture3:</strong>
  <%= image_tag(@post.picture3_url, width: 200) if @post.picture3.present? %>
</p>

<p>
  <strong>Picture4:</strong>
  <%= image_tag(@post.picture4_url, width: 200) if @post.picture4.present? %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
